// _defaults.scss

$main: #E37222;
$main-light: #EEAA7B;
$main-super-light: #EFAA81;
$secondary: #07889B;
$secondary-light: #66B9BF;
$secondary-super-light: #9CCFD9;
$white: #FFFFFF;
$gray: #DDDDDD;
$gray-dark: #808080;
$gray-light: #EEEEEE;
$breakpoints-phone: 500px;
$breakpoints-tablet: 768px;
$breakpoints-desktop: 1024px;
$black: #333333;
$purple: #395999;
$cursor: pointer;

// buttons
$info: #5bc0de;
$info-hover: #31b0d5;
$info-border-hover: #2aabd2;
$primary: #0275d8;
$primary-hover: #025aa5;
$primary-border-hover:#01549b;
$danger: #d9534f;
$danger-hover: #c9302c;
$danger-border-hover: #c12e2a;
$success: #5cb85c;
$success-hover: #449d44;
$success-border-hover: #419641;
